<h1>Cadastre-se</h1>
    <form action="/jogos/{{this.id}}/conquista" method="post">


        <div>
            <!--Aqui fica a conquista nova-->
            <label for="conquistaNova">Conquista Adquirida</label>
            <input type="text" id="conquistaNova" name="conquistaNova">
        </div>

        <div>
            <!--Aqui fica o nome do jogador-->
            <label for="nickname">Nome do Jogador</label>
            <input type="text" id="nickname" name="nickname">
        </div>

        <input type="submit" value="Cadastrar" />
    

    </form>